@import '../../scss/_shared.scss';

.fade-in-1 {
  @include fade-in__add-duration(0.3s);
}

.fade-in-2 {
  @include fade-in__add-duration(0.6s);
}

.fade-in-3 {
  @include fade-in__add-duration(0.9s);
}

.fade-in-4 {
  @include fade-in__add-duration(1.2s);
}

.projects {
  margin-top: 8vh;
  flex-grow: 1;
}

.projects__container {
  padding: 0px 10vw 0px 10vw;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 4vw;
  margin-top: 10vh;
  font-family: 'Montserrat';
}