@import "../../../scss/_shared.scss";

.search {
  margin: 6vh 0vh 6vh 0vh;
  display: flex;
  justify-content: center;

  @media (max-width: 525px) {
    margin: 6vh 0vh 15vh 0vh;
  }

  &__container {
    @include form-base_add-width(70%);
    padding: 1vh 0.5vw 1vh 0.5vw;

    @media (max-width: 990px) {
      width: 90%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__wrapper-tb {
    display: flex;
    height: 5vh;
    gap: 3vh;

    @media (max-width: 525px) {
      flex-direction: column;
    }
  }

  &__input {
    @include form-input;
  }

  &__button {
    @include button-submit-small;
    margin: 0 auto;

    @media (max-width: 525px) {
      margin: 2vh 0 0 0;
    }
  }
}
