@import "../../../scss/_shared.scss";

.search {
  margin: 6vh 0vh 6vh 0vh;
  display: flex;
  justify-content: center;

  @media (max-width: 420px) {
    margin: 8vh 0vh 10vh 0vh;
  }

  &__container {
    @include form-base_add-width(80%);
    background-color: rgba(255, 255, 255, 0.209);
    padding: 1vh 0.5vw 1vh 0.5vw;

    @media (max-width: 990px) {
      width: 90%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__wrapper-tb {
    display: flex;
    height: 5vh;
  }

  &__input {
    font-size: 3vh;
    line-height: 1;
    font-family: "Montserrat";
    background-color: transparent;
    border: none !important;
    padding: 1vh !important;

    &::placeholder {
      color: $color--global-gray;
      font-family: "Montserrat";
      font-size: 3vh;
    }

    &:focus {
      border: none !important;
      background: transparent !important;
    }
  }
  &__button {
    background-color: transparent !important;
    border: 1px solid $color--global-text;
    flex-shrink: 0;
    transition: transform 0.2s ease-in-out;
    margin-left: 1vw;
    display: flex;

    &:hover {
      border-color: $color--global-text !important;
      transform: scale(1.1);
    }
    &:active {
      opacity: 0.5;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}
