@import "../../scss/_shared.scss";

.weather {
  @include form-base_add-width(85%);

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 576px) {
    margin: 0 auto;
  }

  &__header {
    @include formtitle(2.5vh);
  }

  &__search-box {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  &__search-input {
    @include form-input;

    &::placeholder {
      color: $color--global-gray;
      font-size: 1.8vh;
      font-family: "JetBrains Mono";
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__loader {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: 5px solid $color--global-text;
    border-top: 5px solid $color--global-green;
    animation: spin 2s linear infinite;
    position: relative;
    z-index: 999;
    left: 50%;
  }

  &__search-button {
    @include button-submit-small;
    font-weight: 200;
    font-size: 2.5vh;
  }

  &__result-box {
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono";
    gap: 3vh;
    margin-top: 4vh;
    padding: 3vh;

    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;

    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;

    @media (max-width: 1016px) {
      align-items: center;
      gap: 1vh;
      padding: 2vh;
    }

    @media (max-width: 525px) {
      gap: 4vw;
    }
  }

  &__result-location {
    display: flex;
    flex-direction: column;

    &-area {
      color: $color--global-gray;
    }
  }
  &__result-primary {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1016px) {
      gap: 1vw;
    }

    @media (max-width: 768px) {
      gap: 5vw;
      flex-direction: row;
    }

    &-icon {
      max-width: 10vw;

      @media (max-width: 768px) {
        max-width: 15vw;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
    }

    &-temp {
      font-size: 4vw;
      margin: 0 auto;

      @media (max-width: 768px) {
        font-size: 9vw;
      }
    }
  }

  &__result-text {
    &-descr {
      margin-bottom: 0.5vh;

      @media (max-width: 952px) {
        font-size: 1.7vw !important;
      }

      @media (max-width: 768px) {
        font-size: 3vw !important;
      }

      @media (max-width: 525px) {
        font-size: 3vw !important;
      }
    }

    &-realfeel {
      @media (max-width: 952px) {
        font-size: 1.6vw !important;
      }

      @media (max-width: 768px) {
        font-size: 2.3vw !important;
      }
    }
  }

  &__result-secondary {
    display: flex;
    gap: 2vw;
    justify-content: space-around;

    @media (max-width: 1016px) {
      gap: 1vw;
    }

    @media (max-width: 425px) {
      gap: 4vw;
    }

    &-container {
      display: flex;
      align-items: center;
      gap: 0.3vw;

      @media (max-width: 768px) {
        gap: 0.5vw;
      }
    }

    &-humiwind-icon {
      width: 1.7vw;

      @media (max-width: 768px) {
        width: 4vw;
      }
    }

    &-humiwind-text {
      margin: 0 auto;
      font-size: 1vw;
      display: contents;

      @media (max-width: 768px) {
        font-size: 2.5vw;
      }
    }
  }

  &__not-found {
    font-family: "JetBrains Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 3vh;

    &-text {
      &-top {
        text-align: center;
        color: $color--global-error;
      }

      &-bottom {
        text-align: center;
        color: $color--global-gray;
      }
    }

    &-img {
      width: auto;
      height: auto;
    }
  }
}
