@import "../../scss/_shared.scss";

.skills {
  @include form-base_add-width(85%);
  padding: 2vh 1vw 3vh 1vw;

  @media (max-width: 576px) {
    width: 100%;
    padding: 2vh 2vw 2vh 2vw;
  }

  &__title {
    @include formtitle(2vh);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;

    @media (max-width: 768px) {
      justify-content: center;
      gap: 4vw;
    }
  }

  &__img {
    max-width: 3vw;

    @media (max-width: 768px) {
      min-width: 7vw;
    }
  }
}
