@import "../../../scss/shared";

.gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 100%;

  &__card {
    flex: auto;
    height: 50vh;
    margin: 0px 1% 1% 0;
    position: relative;

    @media (max-width: 425px) {
      margin: 0px 0% 3% 0;
    }
  }

  &__img {
    margin-bottom: 1vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
