@import './vendor/normalize.css';
@import './vendor/Fonts/GoogleFonts.css';
/* @import './components/App.css'; */

html {
  scroll-behavior: smooth;
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: #fcf5e9;
  background:
  /* linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), */
    url(./images/angelo-abear-V4q470-YMk0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #000030;
}

::-webkit-scrollbar-thumb {
  background-color: #2d496b;
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-color: #f2b5b3 #8081bd;
}
/* Microsoft Edge */
*::-ms-scrollbar {
  width: 8px;
  background-color: #8081bd;
}

*::-ms-scrollbar-thumb {
  background-color: #f2b5b3;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #fcf5e9;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  min-width: 200px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter' 'Roboto', 'JetBrains Mono' 'Press Start 2P', 'Comfortaa', 'Segoe UI',
    'Fira Code', 'Montserrat', Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  /* background: linear-gradient(
    120deg,
    #f8ffbf 0%,
    #f3ff99 10%,
    #f2b5b3 50%,
    #8081bd 90%
  ); */
  /* background: -webkit-linear-gradient(
    120deg,
    #f8ffbf 0%,
    #f3ff99 10%,
    #f2b5b3 50%,
    #8081bd 90%
  ); */
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

input, textarea, select {
  appearance: none;
  border: none;
  color: #fcf5e9;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
  color: transparent;
  transition: all 0.2s ease-in-out;
}
