@import './vendor/normalize.css';
@import './vendor/Fonts/GoogleFonts.css';
@import './scss/shared';

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $color--scrollbar-dark;
}

::-webkit-scrollbar-thumb {
  background-color: $color--scrollbar-light;
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-color: $color--scrollbar-dark $color--scrollbar-light;
}

a {
  text-decoration: none;
  color: $color--global-text;
}

ul {
  list-style: none;
  // margin: 0 auto !important;
}

button {
  appearance: none;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  appearance: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  height: 100vh;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', 'Inter', 'Segoe UI', 'JetBrains Mono', 'Fira Code',
    Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: transparent !important;
  scroll-behavior: smooth;
  color: $color--global-text;
  background: url(./images/angelo-abear-V4q470-YMk0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  header,
  main,
  footer {
    width: 100%;
    margin: 0 auto;
  }

  input,
  textarea,
  select {
    appearance: none;
    border: none;
    color: $color--global-text;

    &:focus {
      outline: none;
      transition: all 0.2s ease-in-out;

      &::placeholder {
        color: transparent;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
